<a href="https://colab.research.google.com/github/437-maral/Deap-Learning-/blob/main/Untitled47.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:

### google colab

import sqlite3
import csv

conn = sqlite3.connect('challenge.db')  # Creates an in-memory database. Replace ':memory:' with a filename to save to disk.
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS products (
        PART_NUMBER ,
        BRANCH_ID ,
        PART_PRICE ,
        SHORT_DESC
    )
''')

conn.commit()


##Note

# to use multiple times , I created function
# to update corresponding products , I used intsert and replace
# to delete product that are in csv , I used a bolean factor  and list of product numbers  to check




def csv_to_sql(csvfile, missing=False):
    part_numbers = []

    with open(csvfile, 'r') as file:
        reader = csv.DictReader(file, delimiter='|')

        for row in reader:

            cursor.execute('''
                INSERT OR REPLACE INTO products (PART_NUMBER, BRANCH_ID, PART_PRICE, SHORT_DESC)
                VALUES (?, ?, ?, ?)
            ''', (row['PART_NUMBER'], row['BRANCH_ID'], float(row['PART_PRICE']), row['SHORT_DESC']))

            # Add the current part_number to our list
            part_numbers.append(row['PART_NUMBER'])

    conn.commit()

    # Delete entries
    if missing:
        symbol = ', '.join(['?'] * len(part_numbers))
        cursor.execute(f'''
            DELETE FROM products WHERE PART_NUMBER NOT IN ({symbol})
        ''', tuple(part_numbers))

        # Commit the deletion changes
        conn.commit()

# Usage
csv_to_sql('data.csv', missing=True)


## This data suppose to be shown in a list later.

def data_to_list():
    cursor.execute('SELECT PART_NUMBER, BRANCH_ID, PART_PRICE, SHORT_DESC FROM products')
    products = []
    for row in cursor.fetchall():
        product = {
            'PART_NUMBER': row[0],
            'BRANCH_ID': row[1],
            'PART_PRICE': row[2],
            'SHORT_DESC': row[3]
        }
        products.append(product)
    return products

[{'PART_NUMBER': '0121F00548',
  'BRANCH_ID': 'TUC',
  'PART_PRICE': 3.14,
  'SHORT_DESC': 'GALV x FAB x 0121F00548 x 16093 x .026 x 29.88 x 17.56'},
 {'PART_NUMBER': '0121G00047P',
  'BRANCH_ID': 'TUC',
  'PART_PRICE': 42.5,
  'SHORT_DESC': 'GALV x FAB x .026 x 29.88 x 17.56'},
 {'PART_NUMBER': '0121G00509',
  'BRANCH_ID': 'CIN',
  'PART_PRICE': 3.14,
  'SHORT_DESC': 'GALV x FAB x 0121F00548 x 16093 x .026 x 29.88 x 17.56'},
 {'PART_NUMBER': '0163D00006-T006',
  'BRANCH_ID': 'CIN',
  'PART_PRICE': 3.14,
  'SHORT_DESC': 'GALV x FAB x 0121F00548'},
 {'PART_NUMBER': '05700-001-16-88',
  'BRANCH_ID': 'TUC',
  'PART_PRICE': 3.14,
  'SHORT_DESC': 'GALV x FAB x 0121F00548'},
 {'PART_NUMBER': '05700-002-11-15',
  'BRANCH_ID': 'TUC',
  'PART_PRICE': 3.14,
  'SHORT_DESC': 'GALV x FAB x 0121F00548'},
 {'PART_NUMBER': '102430',
  'BRANCH_ID': 'TUC',
  'PART_PRICE': 3.14,
  'SHORT_DESC': 'GALV x FAB x 0121F00548'},
 {'PART_NUMBER': '0163D00007',
  'BRANCH_ID': 'CIN',
  'PART_PRICE': 4.27,
  'SHORT_DESC': 'GALV x FAB x 0121F00548'}]

In [29]:
type(data_to_list())

list